* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: green;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}

body {

  font-family: 'lato', sans-serif;
}

nav {

  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.left {
  width: 80%;
  text-align: left;
}

.left a {
  font-weight: 700;
  color: var(--mainColor);
  font-size: 21px;
}

.shoppingCart i {
  font-size: 20px;
  display: inline-block;
  color: var(--lightDark);
  margin-right: 15px;
}

.cartCount {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--mainColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
}

.right {
  width: 80%;
  text-align: right;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
}


/* Banner styles */

.container{
  width: 100%;
  padding: 15px 100px;
}
header{
width: 100%;
background: url("./assests/bg.jpg");
height: 500px;
margin-top: 70px;
background-size: cover;
background-repeat: no-repeat;
color: #fff;
}
.headerText{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerText h1{
  font-size: 35px;
}
.headerText p{
  margin-top: 7px;
}
div p span{
  color: var(--mainColor);
}
div h1 span{
  color: var(--mainColor);
}


/* products style  */

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product{
  width: 25%;
  padding: 0 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.hot{
  position: absolute;
  top: 0;
  background: orangered;
  color: #fafafa;
  padding: 5px 20px;
}
.new{
  position: absolute;
  top: 0;
  background:var(--mainColor);
  color: #fafafa;
  padding: 5px 20px;
}
.product-image{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
/* .product-image img{
  width: 100%;
  height: 200px;
} */
.product-details{
  padding: 15px 10px;
  text-align: center;
  background-color: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.product-name{
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
}
.product-price{
  font-size: 20px;
font-weight: 300;
margin: 12px 0;
}
.add-to-cart{
  background-color: var(--mainColor);
  width: 100%;
  padding: 10px 20px;
  color: var(--whiteColor);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.add-to-cart:hover {
  color: #f4511e;
  transition: 0.9;
}

.cart-container h2{
  margin-top: 100px;
}
/* not Found  */

.not-found{
  margin-top: 100px;

}
